@charset "UTF-8";
/* style.css */

*{
	margin: 0;
	padding: 0;	
}

body{
	background-color: #f4f4f4;	
	font-family: Arial, Helvetica, sans-serif;	
	text-transform: uppercase;
}


#wrapper{
	width: 768px;
	height: 1366px;
	margin: auto;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-color: #fff;
}

h1{
	text-align: right;
	padding: 35px 25px 0 0;	
}

a{
	color: #004480;
	text-decoration: none;
}

a:hover{
	color: #fff;
}

a img{
	border: none;	
}

/* Home Page */

section{
	width: 100%;
	height: 1000px;
	margin-top: 55px;
	clear: both;
}

section#videos_sec, section#video_only_sec {
  width:auto;  /* scroll fix */
}

.brands{
	width: 150px;
	height: 150px;
	float: left;
	margin: 0px 20px 0 20px;	
	text-align: center;
	
}

.brands img{
	padding-bottom: 15px;	
}

.brands img:hover{
	border-bottom: 10px solid #14609A;
	padding-bottom: 5px;
}


.inner_menu{
	width: 200px;
	height: 150px;
	float: left;
	margin: 40px 20px 0 30px;	
	text-align: center;
	
}

nav h2{
	padding: 5px;
	font-size: 18px;
}

.inner_menu:hover h2{
	background-color: #14609A;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

#main_home{
	float: left;
	margin: 15px 0 0 35px;
}

#brand_h1{
	float: right;
	margin-top: 15px;
	margin-bottom: 55px;
}


#main_h2{
	text-align: center;
	font-weight: normal;
	margin-top: 50px;
	margin-bottom: 15px;
	font-size: 24px;
	color: #14609A;
}

/* Products */


h3 img{
	float: right;
	margin: 40px 25px 25px 0;
}

.title{
	float: left;
	margin: 60px 25px 35px 30px;	
	color: #4B555C;
	font-size: 24px;
	border-bottom: 2px solid #4B555C;
	width: 350px;
	font-weight: normal;
}

#home{
	float: right;
	margin: 60px 50px 0 0;
}

#home:hover{
	border-bottom: 10px solid #14609A;
	padding-bottom: 5px;	
}


/* Videos */

#videos_sec{
	margin-left: 200px;
}

#videos_sec img{
	margin: 100px 125px 100px 0;
	-webkit-box-shadow: 3px 4px 5px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    3px 4px 5px rgba(50, 50, 50, 0.4);
	box-shadow:         3px 4px 5px rgba(50, 50, 50, 0.4);
}

#video_only_sec{
	margin: 100px 0 0 75px;
}

#back{
	float: left;	
	margin: 60px 0 0 40px;
}

.pp_content{
	margin-top: -35px;	
}

video{
	width: 90%;
	height: auto;
	margin-top: 100px;	
}
